include ./base

    body.oregano
        header
            .lang
                a(href="/eu") eu
                a(href="/es") es
                a(href="/en") en
        article
            h1 Beñat Espiña
            .my-photo
                img(alt="photo", src="photo-200x200.png")
            p
                = __("first")
            p
                = __("second")
                a(href=eside      target="_blank")= __("engineer")
                =__("third")
                a(href=deusto     target="_blank")= __("deusto")
                =__("AUX")
            p
                = __("fourth")
                a(href=symfony2   target="_blank") Symfony2
                = __("fifth")
                a(href=objectivec target="_blank") Objective-C
                = __("sixth")
            p
                = __("seventh")
                a(href=dessi      target="_blank")= __("dessi")
                = __("eighth")
                a(href=deusto     target="_blank")= __("deusto")
                = __("nineth")
                a(href=gade       target="_blank")= __("gade")
                = __("tenth")
                a(href=uned       target="_blank")= __("uned")
                = __("AUX-2")
            p
                = __("eleventh")
                a(href=linkedin   target="_blank") LinkedIn
                = __("twelfth")
                a(href=careers    target="_blank") Careers
                = __("thirteenth")
                a(href="/cv.pdf"  target="_blank") Curriculum Vitae
                = __("fourteenth")
            p
                = __("fifteenth")
                a(href=email      target="_blank")= __("email")
                = __("sixteenth")
                a(href=twitter    target="_blank") Twitter
                = __("seventeenth")
        footer
            a.i-careers(href=careers,   target="_blank")
                span Careers
            a.i-cv(href="/cv.pdf",      target="_blank")
                span Curriculum Vitae
            a.i-email(href=email,       target="_blank")
                span benatespina@gmail.com
            a.i-linkedin(href=linkedin, target="_blank")
                span LinkedIn
            a.i-twitter(href=twitter,   target="_blank")
                span Twitter
            a.i-github(href=github,     target="_blank")
                span GitHub
            a.i-blog(href=blog)
                span Blog