include ./base

    body
        header
            .lang
                a(href="/eu") eu
                a(href="/es") es
                a(href="/en") en
        article
            h1 Beñat Espiña
            .img
                img(alt="photo", src="photo-200x200.png")
            p
                = __("first")
            p
                = __("second")
                a(href=eside target="_blank")= __("engineer")
                =__("third")
                a(href=deusto target="_blank")= __("deusto")
                =__("AUX")
            p
                = __("fourth")
                a(href=symfony2 target="_blank") Symfony2
                = __("fifth")
                a(href=objectivec target="_blank") Objective-C
                = __("sixth")
            p
                = __("seventh")
                a(href=dessi target="_blank")= __("dessi")
                = __("eighth")
                a(href=deusto target="_blank")= __("deusto")
                = __("nineth")
                a(href=gade target="_blank")= __("gade")
                = __("tenth")
                a(href=uned target="_blank")= __("uned")
                = __("AUX-2")
            p
                = __("eleventh")
                a(href=linkedin target="_blank") LinkedIn
                = __("twelfth")
                a(href=deusto target="_blank") Careers
                = __("thirteenth")
                a(href="cv.pdf" target="_blank") Curriculum Vitae
                = __("fourteenth")
            p
                = __("fifteenth")
                a(href=email target="_blank")= __("email")
                = __("sixteenth")
                a(href=twitter target="_blank") Twitter
                = __("seventeenth")
        footer
            a.button(href=careers, target="_blank") Careers
            a#curriculum.button(href="cv.pdf", target="_blank") Curriculum Vitae
            a#email.button(href=email, target="_blank") benatespina@gmail.com
            a.button(href=linkedin, target="_blank") LinkedIn
            a.button(href=twitter, target="_blank") Twitter
            a.button(href=github, target="_blank") GitHub
            a.button(href="https://bitbucket.org/benatespina", target="_blank") Bitbucket