include base
body
  include main
  header.header
    nav.menu
      .language-selector.language-selector--left
        a.language-selector__language(href='/eu') eu
        a.language-selector__language(href='/es') es
        a.language-selector__language(href='/en') en
      .social.social--right
        include social
  .wrapper
    .content
      .content__me
        p=__('aboutMe')
    .parallax-content
      .parallax-content__left-column
        p=__('skills')
      .parallax-content__right-column
        span.skill.icon-symfony
        span.skill.icon-php
        span.skill.icon-mysql
        span.skill.icon-doctrine
        span.skill.break-line.icon-git
        span.skill.icon-html5
        span.skill.icon-css3
        span.skill.icon-javascript
        span.skill.icon-jquery
        span.skill.break-line.icon-sass
        span.skill.icon-backbone
        span.skill.icon-java
        span.skill.icon-mongodb
        span.skill.icon-nodejs
        span.skill.icon-nginx
    .content
      .content__professional
        h3.content__role=__('developer')
        h5.content__place LIN3S
        span.content__date=__('lin3sDate')
        p.content__description=__('lin3sDescription')
        h3.content__role=__('developer')
        h5.content__place Wlingua
        span.content__date=__('wlinguaDate')
        p.content__description=__('wlinguaDescription')
        h3.content__role=__('developer')
        h5.content__place Boletus Network
        span.content__date=__('boletusDate')
        p.content__description=__('boletusDescription')
        h3.content__role=__('developer')
        h5.content__place BoSo Group
        span.content__date=__('bosoDate')
        p.content__description=__('bosoDescription')
        h3.content__role=__('internDeveloper')
        h5.content__place Serikat
        span.content__date=__('serikatDate')
        p.content__description=__('serikatDescription')
        .big-space.divider-top
      .content__education
        h3.content__role=__('computerEngineering')
        h5.content__place=__('universityOfDeusto')
        span.content__date=__('computerEngineeringDate')
        .big-space
        h3.content__role=__('postgraduate')
        h5.content__place=__('universityOfDeusto')
        span.content__date=__('postgraduateDate')
        .big-space
        h3.content__role=__('mongodbCertificate')
        h5.content__place=__('mongodbUniversity')
        span.content__date=__('mongodbCertificateDate')
    .parallax-content
      .parallax-content__portfolio
        .project
          .project__project
            a.project__link(href='http://kreta.io' target='_blank')
                img.project__image(src='kreta.png', alt='Kreta')
            h5.project__title Kreta
              a(href='https://github.com/kreta-io')
                span.project__source-code.icon-github
            p.project__description
              | Modern PHP written and open source project manager.
              br
        .project
          .project__project
            a.project__link(href='http://boletus.com' target='_blank')
                img.project__image(src='boletus.png', alt='Boletus')
            h5.project__title Boletus
            p.project__description
              | Ahorra y gana dinero con los comercios de tu ciudad.
        .project.project--last
          .project__project
            a.project__link
                img.project__image(src='stackexchangeapiclient.png', alt='Stack Exchange Api Client')
            h5.project__title Stack Exchange Api Client
              a(href='https://github.com/benatespina/StackExchangeApiClient')
                span.project__source-code.icon-github
            p.project__description
              | Stack Exchange's version 2.2 REST API PHP client.
        .project
          .project__project
            a.project__link
                img.project__image(src='vagrant.png', alt='Vagrant')
            h5.project__title Puppet & Ansible Vagrant VM
              a(href='https://github.com/benatespina/default-vagrant')
                span.project__source-code.icon-github
              a(href='https://github.com/benatespina/ansible-vagrant')
                span.project__source-code.icon-github
            p.project__description
              | PHP development focused VM with different envs that provides some other useful tools.
        .project
          .project__project
            a.project__link(href='http://myclapboard.com' target='_blank')
                img.project__image(src='myclapboard.png', alt='myClapboard')
            h5.project__title myClapboard
              a(href='https://github.com/myClapboard')
                span.project__source-code.icon-github
            p.project__description
              | Social network that geared to film and television.
        .project.project--last
          .project__project
            a.project__link(href='http://alotofus.com' target='_blank')
                img.project__image(src='alotofus.png', alt='Alotofus')
            h5.project__title Alotofus
            p.project__description
              | Plataforma de empleo, que agiliza los procesos de selección ofreciendo candidatos válidos.
    footer.footer
      p.footer__copyright Copyright 2015 - Be&ntilde;at Espi&ntilde;a
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='js/app.min.js')
