include base
body
  header
    #menu-bar
      #lang-selector
        a.buzz(href='/eu') eu
        a.buzz(href='/es') es
        a.buzz(href='/en') en
      include social
  .main-container
    .huge-title
      img.headshot(src='me-255x255.png', alt='Be침at Espi침a')
      h1 Be&ntilde;at Espi&ntilde;a
      include social
    .go-down.go-down--floating=__('godown')
    #lang-selector
      a.buzz(href='/eu') eu
      a.buzz(href='/es') es
      a.buzz(href='/en') en
  .wrapper
    .container
      .content
        p=__('aboutMe')
    .parallax
      .content
        .half_column1
          p=__('skills')
        .half_column2
          .one_third.centered.skill
            span.icon-symfony
            span.icon-php
            span.icon-mysql
            span.icon-doctrine
            span.icon-git
          .one_third.centered.skill
            span.icon-html5
            span.icon-css3
            span.icon-javascript
            span.icon-jquery
            span.icon-sass
          .one_third.centered.skill
            span.icon-backbone
            span.icon-java
            span.icon-mongodb
            span.icon-nodejs
            span.icon-nginx
    .container
      .professional-content
        .two_third_last
          h3=__('developer')
          h5 LIN3S
          span.date=__('lin3sDate')
          p=__('lin3sDescription')
          h3=__('developer')
          h5 Wlingua
          span.date=__('wlinguaDate')
          p=__('wlinguaDescription')
          h3=__('developer')
          h5 Boletus Network
          span.date=__('boletusDate')
          p=__('boletusDescription')
          h3=__('developer')
          h5 BoSo Group
          span.date=__('bosoDate')
          p=__('bosoDescription')
          h3=__('internDeveloper')
          h5 Serikat
          span.date=__('serikatDate')
          p=__('serikatDescription')
        .bigspace.line-break
      .education-content
        .two_third_last
          h3=__('computerEngineering')
          h5=__('universityOfDeusto')
          span.date=__('computerEngineeringDate')
        .two_third_last
          h3=__('postgraduate')
          h5=__('universityOfDeusto')
          span.date=__('postgraduateDate')
        .two_third_last
          h3=__('mongodbCertificate')
          h5=__('mongodbUniversity')
          span.date=__('mongodbCertificateDate')
    .parallax
      .portfolio-content
        .center-align
          .one_third
            .infopanel
              a(href='http://kreta.io' target='_blank')
                  img(src='kreta.png', alt='Kreta')
              h5 Kreta
                a(href='https://github.com/kreta-io')
                  span.buzz.project.icon-github
              p
                | Modern PHP written and open source project manager.
                br
          .one_third
            .infopanel
              a(href='http://boletus.com' target='_blank')
                  img(src='boletus.png', alt='Boletus')
              h5 Boletus
              p
                | Ahorra y gana dinero con los comercios de tu ciudad.
          .one_third_last
            .infopanel
              a
                  img(src='stackexchangeapiclient.png', alt='Stack Exchange Api Client')
              h5 Stack Exchange Api Client
                a(href='https://github.com/benatespina/StackExchangeApiClient')
                  span.buzz.project.icon-github
              p
                | Stack Exchange's version 2.2 REST API PHP client.
          .one_third
            .infopanel
              a
                  img(src='vagrant.png', alt='Vagrant')
              h5 Puppet & Ansible Vagrant VM
                a(href='https://github.com/benatespina/default-vagrant')
                  span.buzz.project.icon-github
                a(href='https://github.com/benatespina/ansible-vagrant')
                  span.buzz.project.icon-github
              p
                | PHP development focused VM with different envs that provides some other useful tools.
          .one_third
            .infopanel
              a(href='http://myclapboard.com' target='_blank')
                  img(src='myclapboard.png', alt='myClapboard')
              h5 myClapboard
                a(href='https://github.com/myClapboard')
                  span.buzz.project.icon-github
              p
                | Social network that geared to film and television.
          .one_third_last
            .infopanel
              a(href='http://alotofus.com' target='_blank')
                  img(src='alotofus.png', alt='Alotofus')
              h5 Alotofus
              p
                | Plataforma de empleo, que agiliza los procesos de selecci칩n ofreciendo candidatos v치lidos.
    footer
      p.centered.copyright Copyright 2015 - Be&ntilde;at Espi&ntilde;a
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='js/app.min.js')
